.footer{
    height: 180px;
    width: 100%;
    background: #353535;
    padding: 20px;
    h1{
        font-size: 1.2rem;
        color: white;
    }
}
.footer_text{
    margin: 10px 0;
   li{
       margin: 5px;
   }
   i{
       font-size: .8rem;
       margin-right: 5px;
   } 
}
