                                        /*design_settings*/
.header{
    height: 60px;
    width: 100%;
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_header{
    height: 90%;
    width: 40%;
    position: relative;
    top: 25%;
}

