                                        /*design_settings*/
.header{
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow: 0 1px 4px 0px grey;
}
.logo_header{
    height: 90%;
    width: 40%;
    position: relative;
    top: 35%;
    left: 30%;
}
.back_header{
    display: none;
}