@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
ul{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
input{
    font-family: 'Roboto', sans-serif;
}
.titles{
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}
.restaurants_card--new_headband{
    p{
        font-family: 'Roboto', sans-serif;
        font-weight: 450;
        font-size: .8rem;
    }
}